@use "vue3-toastify/dist/index.css";

@use "variables" as *;
@use "typography" as *;
@use "toastify";
@use "reset";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
  scrollbar-color: $color-rock-blue $color-accent-hover;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

body {
  min-width: 380px;
  position: relative;
  overflow-x: hidden;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $body-font-family;
  height: 100svh;
}

.container {
  max-width: $view-port-lg;
  margin: 0 auto;
  padding: 0 clamp($spacing-1, 2%, $spacing-3);
}

#__nuxt {
  min-height: 100%;
}

::selection {
  background: $color-accent;
  color: $color-white;
}
