@use "variables" as *;
@use "mixins" as *;

$h2-font-size: 35px;
$h2-font-weight: 700;
$h2-line-height: 1.3;

@mixin heading-h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
}

@mixin link  {
  color: $color-text;
  border-bottom: 2px solid transparent;
  @include hover {
    border-bottom: 2px solid $color-text;
  }
}